<p id="notice"><%= notice %></p>

<!--<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>
-->
<%=content_tag :span, "#{@book.name} (#{@book.author})",class:"book-title"%>
<br>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

<div id="notes">
<%= render @book.notes %>
</div>
<div>
<%= form_for ([@book,@book.notes.new]) do |f| %>
<div class="field">
<%=f.label :title %>
<%=f.text_field :title %>
</div>
<div class="field">
<%=f.label :note %>
<%=f.text_field :note,size:"25x5" %>
</div>
<div class="actions">
	<%=f.submit "add new note" %>
	</div>
<%end%>
</div>

<%= link_to 'Back',books_path %>